/* Define color globaly */
:root {
  --blueDark: #1D3557;
  --blueMid: #457B9D;
  --blueLight: #A8DADC;
  --blueBeige: #F1FAEE;
  --red: #C30825;
  --lightGray: #F4F4F4;
  --midGray: #979797;
  --brown: #1F1D1D;
}

/* Define font globaly */
.App {
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Quicksand', sans-serif; */
  /* max-width: fit-content; */
}

#afterHeaderWrapper {
  animation: fadeIn 1s 2.5s backwards;
  margin-bottom: 200px;
}

/* Logo animation start */
.firstLogo {
  animation: fadeOut 200ms 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* Logo animation end */

/* Navigation area start */
/* Top logo start */
.logoImageShow,
.logoImageHide {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 17rem;
  z-index: 7;
}

.logoImageShow {
  animation: fadeIn 100ms forwards;
}

.logoImageHide {
  animation: fadeOut 100ms forwards;
}
/* Top logo end */

.topSection {
  animation: fadeIn 1s 2.5s backwards;
  height: 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar,
.navbarActive {
  position: fixed;
  top: 0;
  left: 0;
  height: 125px;
  z-index: 9;
  transition: 0.5s;
}

.hamBack {
  width: 90px;
  height: 90px;
  position: fixed;
  top: .7rem;
  right: 1.5rem;
}

.hamShow,
.hamHide,
.hamColor {
  width: 3rem;
  height: 10px;
  position: fixed;
  top: 3.2rem;
  right: 2.2rem;
  border-radius: 7px;
  background-color: var(--red);
  z-index: 11;
  transition: 500ms;
}

.hamBack:hover .hamShow {
  right: 4rem;
}

.hamHide {
  background-color: transparent;
}

.hamShow::before,
.hamShow::after,
.hamHide::before,
.hamHide::after,
.hamColor::before,
.hamColor::after {
  content: '';
  width: 3rem;
  height: 10px;
  position: fixed;
  right: 3rem;
  border-radius: 7px;
  background-color: var(--blueBeige);
  z-index: 10;
  transition: 0.5s;
}

.hamColor::after,
.hamColor::before {
  background-color: black;
}

.hamShow::before,
.hamHide::before,
.hamColor::before {
  top: 2rem;
}

.hamShow::after,
.hamColor::after {
  top: 4.3rem;
}

.hamHide::before {
  transform: rotate(130deg);
  top: 3rem;
  right: 3rem;
}

.hamHide::after {
  transform: rotate(-130deg);
  top: 3rem;
  right: 3rem;
}

.menuContent {
  position: fixed;
  width: 100%;
  top: 100px;
  display: flex;
  flex-direction: column;
  height: 60%;
  z-index: 9;
}

.menuContent a {
  text-decoration: none;
}

.menuContentItem {
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  list-style-type: none;
  transform: translateX(-600%);
  color: var(--blueDark);
  margin: auto;
  width: fit-content;
  animation: slide-nav 1s forwards;
  z-index: 1000;
}

.menuContentItemTxt {
  transition: 0.5s;
}

.menuContentItemTxt:hover {
  color: white;
  transform: scale(1.2);
}

.menuContentItem:nth-child(1) {
  animation-delay: 40ms;
}

.menuContentItem:nth-child(2) {
  animation-delay: 40ms;
}

.menuContentItem:nth-child(3) {
  animation-delay: 200ms;
}

.menuContentItem:nth-child(4) {
  animation-delay: 300ms;
}

@keyframes slide-nav {
  0% {
    transform: translateX(-600%);
  }

  100% {
    transform: translateX(0%);
  }
}

.Typewriter__cursor {
  writing-mode: vertical-rl;
  position: relative;
  top: 5px;
  left: -10px;
  color: var(--red);
}

.upTypeWriter {
  top: -40rem;
  position: relative;
  z-index: 7;
  color: var(--blueBeige);
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation background start */
.menuBackgroundShow,
.menuBackgroundHide {
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(var(--blueLight), var(--blueBeige));
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  transition: transform 0.8s;
  z-index: 8;
}

.menuBackgroundShow {
  transform: scale(100);
}

.menuBackgroundHide {
  transform: scale(0);
}
/* Navigation background end */
/* Navigation area end */

/* Services section start */
.textTypeWriter {
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  min-height: 72px;
}

.longDescription {
  animation: fadeIn 2s;
  display: none;
}

.longDesText {
  text-align: left;
  font-size: 1.3rem;
  padding-right: 4rem;
  min-height: 10rem;
}

.serviceWrapper {
  padding-top: 20px;
  background-color: var(--lightGray);
  height: 350px;
  transition: 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceWrapper:hover {
  background-color: var(--midGray);
  color: white;
}

#circleAndLetter {
  position: relative;
  transition: 1000ms;
  width: fit-content;
}

.serviceWrapper:hover #circleAndLetter {
  margin-left: -440px;
  margin-top: -75px;
}

.serviceWrapper:hover .longDescription {
  font-family: 'Quicksand', sans-serif;
  display: block;
  height: inherit;
  position: relative;
  top: -12rem;
  padding-left: 250px;
}

.serviceWrapper:hover .shortDescription {
  display: none;
}

@keyframes circleMove {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -50px;
    left: -250px;
  }
}

.circleImage {
  width: 200px;
}

.letterInCircle {
  position: relative;
  top: -10.2rem;
  left: -.1rem;
  font-size: 5rem;
  font-weight: bold;
}

.shortDescription {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  animation: fadeIn 1s;
  position: relative;
  top: -100px;
  transition: 1s;
}

.shortDescription p {
  margin-bottom: 0;
}
/* Services section end */

/* Réalisation start */
.realisationWrapper {
  height: 720px;
  display: flex;
  margin: auto;
  width: fit-content;
}

.graySection1 {
  min-width: 890px
}

.graySection1,
.graySection2 {
  background-color: var(--lightGray);
  height: 600px;
  padding: 20px;
}

.graySectionTest {
  margin-top: 100px;
  width: 100%;
  background-color: var(--lightGray);
  height: 600px;
  padding: 20px;

}

.graySection2 {
  margin-top: 100px;
}

#realisationTitleRotateWrapper {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  display: flex;
  justify-content: right;
  align-content: flex-start;
  position: sticky;
  top: 20px;
  max-height: fit-content;
  
}

.realisationAndTitle {
  display: flex;
  max-width: fit-content;
  margin: auto;
}

#realisationTitleRotateWrapper p {
  margin: 0 0 0 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#forSticky {
  max-height: 1420px;
  position: sticky;
}

.realisationImage {
  width: 350px;
}

.realisation {
  overflow: hidden;
  width: 350px;
  height: 350px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  margin-bottom: 60px;
}

.realisation3 {
  width: fit-content;
  margin: auto;
}

.realisationText {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 350px;
  min-height: 350px;
  background-color: gray;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 30px;
  transition: 1s;
}

.realisation:hover .realisationText {
  margin-top: -350px;
  transition: 1s;
}

@keyframes textSlideUp {
  0% {
    margin: 0 auto 0 60px;
  }

  100% {
    margin-top: -350px;
  }
}

.visionerBtn {
  margin-bottom: 30px;
}

.realisationRow {
  margin-top: -110px;
}

.dialogWrapper {
  background-color: var(--blueLight);
  height: 100vh;
}

.css-10ghrmp-MuiPaper-root-MuiAppBar-root {
  background-color: white !important;
  color: black !important;
  text-align: center !important;
}

.clipPlayerSite {
  display: flex;
  justify-content: center;
}

.dialogDescription {
  width: 80%;
  margin: 20px auto;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
}

.dialogTitle {
  width: fit-content;
  margin: 20px auto;
  font-family: 'Paytone One', sans-serif;
}

.dialogSubtitle {
  text-align: center;
  border-top: solid 1px var(--midGray);
  font-family: 'Quicksand', sans-serif;
  margin: 20px auto 40px;
}

.css-i4bv87-MuiSvgIcon-root {
  z-index: 1;
}

.css-8je8zh-MuiTouchRipple-root {
  z-index: 0;
  border-radius: 50%;
  background-color: var(--lightGray);
}

#realisationEnding {
  margin-top: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 120px;
}

.arrowWrapper {
  position: relative;
  top: 20px;
  left: -10px;
  display: flex;
  width: fit-content;
  margin: 20px auto;
}

.arrowWrapper span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--red);
  border-right: 5px solid var(--red);
  transform: rotate(-45deg);
  margin: -2px;
}

.arrowWrapper:hover span {
  animation: animateArrow 1s forwards;
  transition: 1s;

}

.arrowWrapper span:nth-child(2) {
  animation-delay: 0.2s;
}

.arrowWrapper span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes animateArrow {
  0% {
    opacity: 1;
    transform: rotate(-45deg) translate(0, 0);
  }

  50% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg) translate(10px, 10px);
  }
}

/* ARROW button start */
.round,
.servicesRound {
  position: relative;
  border: 3px solid var(--red);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: auto;
  margin-top: 20px;
}

.servicesRound {
  border: 3px solid white;
  margin-right: 4rem;
}

#arrowContainer,
#servicesArrowContainer {
  width: 100%;
  cursor: pointer;
  position: relative;
  left: -2px;
}

#arrowContainer .arrow,
#servicesArrowContainer .arrow {
  left: 30%;
}

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  top: 16px;
}

.secondary {
  margin-left: 8px;
}

.servicesNext {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.next {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0OTIuNyA0OTIuNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDkyLjcgNDkyLjc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojQzMwODI1O30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE4OS41LDkuOWMyMy40LDIzLjIsMTM2LjIsMTQ2LjcsMTkwLDIwNS43YzI4LDMzLjMsMSw2MS45LTguMSw3Mi4zQzM1NC41LDMwNi42LDIyNy45LDQ0MiwxOTEuNiw0ODAuNQoJYy0zMS44LDMzLjgtOTcuNy0zOC4xLTczLjQtNjQuM2MzMS4zLTMzLjgsMTYzLjMtMTY4LjYsMTYzLjMtMTY4LjZTMTUwLjEsMTAwLjcsMTIwLjIsNjguNVMxNTguNi0yMC45LDE4OS41LDkuOXoiLz4KPC9zdmc+Cg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primary.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.round:hover .arrow,
.servicesRound:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.round:hover .arrow.primary,
.servicesRound:hover .arrow.primary {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* ARROW button start */
/* Réalisation end */

/* Contact start */
#contactSection {
  height: 300px;
  background-color: var(--lightGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

#contactLineTwo a {
  text-decoration: none;
  color: var(--red);
}

#contactLineTwo {
  margin: auto;
  width: fit-content;
  transition: 1s;
}

#contactLineTwo:hover {
  transform: scale(1.2);
}

#contactLineOne,
#contactLineTwo {
  font-size: 3rem;
  font-weight: bold;
}
/* Contact end */

/* Carousel start */
#carouselContainer {
  margin: 30px auto;
  width: 80%;
}

.slick-track {
  min-height: 130px !important;
  display: flex !important;
  align-items: center !important;
}

.widthImage {
  width: 180px;
  filter: grayscale(100%);
  opacity: 0.4;
  transition: 700ms;
}

.widthImage:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  opacity: 1;
}

.carouselWrapper {
  width: fit-content;
  margin: auto;
}

.slick-next:before,
.slick-prev:before {
  color: black !important;
  font-size: 3rem !important;
  opacity: 0.15 !important;
}

.slick-next:before {
  left: -400px;
}

.slick-prev:before {
  right: -400px;
}

.slick-next {
  right: 25px !important;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  margin: auto;
}

.slick-list .slick-slider {
  width: 2000px !important;
}
/* Carousel end */

/* Footer start */
.footerWrapper {
  height: 200px;
  background-color: var(--brown);
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerLogo img {
  width: 80px;
  margin: 0 2rem;
}

.footerTxt {
  margin: 0 2rem;
}
/* Footer end */